<section>
    <div class="container">
        <div class="row">
            <div class="col-12 ">
                <div class="row">
                    <div class="col-8">
                        <div id="game_review_board" style="width: 400px" data-fen="<%=game.final_position%>" data-pgn="<%=game.pgn%>"></div>
                        <div class="row mx-auto text-center">
                          <div id='firstPosition' class='btn btn-primary boardArrow'>|<</div>
                          <div id='prevMove' class='btn btn-warning boardArrow'><</div>
                          <div id='nextMove' class='btn btn-warning boardArrow'>></div>
                          <div id='lastPosition' class='btn btn-primary boardArrow'>>|</div>
                        </div>
                      </div>
                    <div class="col-4">

                        <div class="container mt-4">
                            <h3 class="mb-3">Game Review</h3>
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th>Move #</th>
                                  <th>White</th>
                                  <th>Black</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(let i = 0 ; i < pgnMoves.length; i++){ %>
                                  <tr>
                                    <td><%= pgnMoves[i][0] %>.</td>
                                    <td class="moveCard" data-move="<%=pgnMoves[i][0]%>"><%= pgnMoves[i][1] %></td>
                                    <%if(pgnMoves[i][2]){%>
                                    <td class="moveCard" data-move="<%=pgnMoves[i][0] * -1%>"><%= pgnMoves[i][2] %></td>
                                    <%}%>

                                  </tr>
                                <% } %>
                              </tbody>
                            </table>
                            <p class="lead"><%=game.result%></p>
                          </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.12.1/chess.js"
    integrity="sha384-8sJV/krC8iV2g7t0PolQxFVckDtxhfM5gNHNAFPG2ZS/bScudOjfsB8ewhG2xle8"
      crossorigin="anonymous"></script>
<script type='module' src="/review.js"></script>
<!-- // <script type='module' src="/main.js"></script> -->